@page
@model Linked.Pages.Projects.AllocateModel

@{
    ViewData["Title"] = "Details";
}

<h1>Asignar tecnico</h1>
@if (Model.Technician.Count()>0)
{
<div>
    <h4>Técnico</h4>
<table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Level </th>
            <th> Specialty </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Technician){
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
            <form method="post">
                <input type="hidden" asp-for=Project />
                <input type="hidden" name="TechnicianID" value=@item.TechnicianID />
                <input type="submit" value="Select" class="btn btn-danger" />
            </form>
            </td>   
            </tr>
}
    </tbody>
</table>
</div>
}

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (Model.TechniciansAlternativos.Count()>0)
{
    <h4>Técnico Alternativo</h4>
    <table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Level </th>
            <th> Specialty </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TechniciansAlternativos){
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
            <form method="post">
                <input type="hidden" asp-for=Project />
                <input type="hidden" name="TechnicianID" value=@item.TechnicianID />
                <input type="submit" value="Select" class="btn btn-danger" />
            </form>
            </td>   
            </tr>
}
    </tbody>
</table>
}

@if (Model.InterestedTechnicians.Count()>0)
{
    <h4>Interested Technicians</h4>
    <table class="table">
    <thead>
        <tr>
            <th> Name </th>
            <th> Level </th>
            <th> Specialty </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InterestedTechnicians){
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
            <form method="post">
                <input type="hidden" asp-for=Project />
                <input type="hidden" name="TechnicianID" value=@item.TechnicianID />
                <input type="submit" value="Select" class="btn btn-danger" />
            </form>
            </td>   
            </tr>
}
    </tbody>
</table>
}