@page
@model Linked.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-page="../Clients/Details" asp-route-id="@item.Client.ClientID">@Html.DisplayFor(modelItem => item.Client.Name)</a>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectID">Delete</a> |
                <a asp-page="./Allocate" asp-route-id="@item.ProjectID">Allocate</a>
            </td>
        </tr>
}
    </tbody>
</table>
