@page
@model Linked.Pages.ScoreSheets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScoreSheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Puntualidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Puntualidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Respeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Respeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Formalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Formalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Profesionalismo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Profesionalismo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Compromiso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Compromiso)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ScoreSheet.ScoreSheetID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
