@page
@model Linked.Pages.ScoreSheets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ScoreSheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Puntualidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Puntualidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Respeto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Respeto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Formalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Formalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Profesionalismo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Profesionalismo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreSheet.Compromiso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScoreSheet.Compromiso)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ScoreSheet.ScoreSheetID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
