@page
@model ProyectoIgnis.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Proyectos disponibles</h1>

<p>
    <a asp-page="Create">Crear nuevo proyecto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].HourLoad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourLoad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="./Allocate" asp-route-id="@item.ID">Allocate</a>
            </td>
        </tr>
}
    </tbody>
</table>
