@page
@model Linked.Pages.Requirements.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Requirement[0].Specialty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirement[0].Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirement[0].Hourload)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Requirement) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hourload)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
